
/* Button Styles------------------ */


ul.skills,
ul.skills-gd {
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  @extend %center-align;
  padding: 0 2% 0 2%;
  margin: 0 auto;

  @include mq(medium){
    margin: 60px auto;
  }
    @include mq(large){
    max-width: 1480px;
  }
}
/* Bounce in headline animatation------------------ */

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.headline--primary {
  opacity: 0;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


.skills-gd li {
  border: 2px solid #79BCC4;
  display: inline-block;
  color: #79BCC4;
  padding: 8px 15px;
  margin: 0 20px 20px;

  @include mq(small){
    font-size: 1em;
  }
}


/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.skills li{
  border: 2px solid #9FD1DA;
  display: inline-block;
  color: #9FD1DA;
  opacity: 1;
  padding: 8px 15px;
  margin: 0 20px 20px;

  @include mq(small){
    font-size: 1em;
  }
}

.grid__col{
  @include mq(medium){
        @include m(12) {
            @include flex(flex);
        }
      }
}
