/* Image Styles ------------------ */

.img--logo {
  @extend %marg-auto;
  display: block;
  padding: 35px 0;
}

.img--avatar {
  @extend %marg-auto;
  display: block;
  padding: 25px;

  @include mq(medium){
    margin-right: 50px;
  }
}

img {
  transition: transform .5s;
}

.img--frame img {
  transform-origin: 0 0;
}

.img--frame {
  max-width: 100%;
}

.photo-overlay {
	color: #2C3339;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
  z-index: 2;

	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(159,209,218, .85);
}


/* =================================
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition: .5s;
}

.photo-overlay:hover,
.photo-overlay:active {
	opacity: 1;
}


#linkedin-icon {
  width: 25px;
  height: 25px;
}
