
/* Layout Styles --------------------- */
.container {
  padding: 20px;
  margin: 0 auto;

  @include mq(medium){
    padding: 50px;
    max-width: 1440px;
  }
}



#header {
  margin: 0 auto;
  max-width: 1440px;
  display: block;
  text-align: center;

  @include mq(medium){
    @include flex (flex, row, wrap, $just:center) {
      margin-bottom: 20px;
    }
  }
    @include mq(large){
      @include flex (flex, row, nowrap, $just: flex-end) {
        width: 80%;
        margin: 40px auto;
    }
  }
}

main {
  border: 2px solid $cornflower-blue;
  width: 100%;
  padding: 20px 10px 10px 10px;

  @include mq(medium){
    padding: 30px;
    }
  }


.center {
  @extend %center-align;
}

#projects {
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
  max-width: 1440px;
  border-top: 1px solid #dcdcdc;

  @include mq(medium){
    @include flex (flex, row, wrap, $just: space-around) {
    }
  }

  @include mq(small){
    @include flex (flex, row, wrap, $just: center) {
      border-top: none;
      padding: 0;
    }
  }
}

.project-card {
  position: relative;
  line-height: 0;
	margin-bottom: 20px;
  overflow: hidden;
  background-color: $white;
}

.links {
  @include flex(flex, row, nowrap, $just: center){
  }
}
section {
  border: 2px solid $cornflower-blue;
  width: 100%;
  padding: 20px 10px 10px 10px;

  @include mq(medium){
    padding: 30px;
    }
  }


.social-icons li{
  padding: 10px 15px 0 0;
}

footer {
  background-color: $sage;
  border: 2px solid $sage;
  margin-top:50px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  border-top: 1px solid #dcdcdc;
}

footer ul{
  @include mq(medium){
    padding-bottom: 200px;
    @include flex(flex, row, nowrap, $just: flex-start){
      margin: 0;
      padding: 0;
    }
  }

  @include mq(small){
    @include flex(flex, row, nowrap){
      margin: 0;
      padding: 0;
    }
  }
}
