/* Navigation Styles --------------------- */

.nav {
  @extend %center-align;
  margin: 0;
  padding:  0 0 70px;
  @include mq(medium){
    @include flex (flex, row, wrap, $just: center){
      margin: 25px 0 0 200px;
      width: 70%;
    }
    @include mq(large){
      @include flex (flex, row, wrap, $just: center){
        margin: 25px 0 0 200px;
        width: 80%;
      }
}}

  @include mq(small){
    padding-top: 40px;
    @include flex (flex, row, wrap, $just: center){
      padding: 25px 0 40px 0px;
    }
  }


    @include e(item)  {
      border-radius: .4em;
      padding: 12px 20px;

      a {
          @extend %text-dec;
          display: block;
          color: $black;
          font-weight: $font-wt-light;
          font-size: 1em;
          //opacity: .25;
          transition: all .5s ease-in-out;
    }

  }
}


a:hover{
  opacity: 1;
  transform: scale(1.2);
}
