/* Typography Styles --------------------- */

.container {
  @extend %marg-auto;
  font-family: $stack-playfair;
  width: 100%;
}

.headline--primary {
  font-size: 120px;
  font-weight: $font-wt-boldest;
  color: $black;
  line-height: 1.3;
  padding: 80px 25px 0 85px;

  @include mq(small){
    font-size: 100px;
    line-height: 1;
    text-align: center;
    padding: 50px 0 0 0;
  }
}

.headline--secondary {
   color: palette(grey, base);
    font-size: $base-font-size; /*16px  */
    font-weight:$font-wt-light;
    line-height: 1.3;
    margin-top: 50px;
    margin-left: 30px;
  }

.blockquote {
  margin: 20px 10px 120px 95px;
	padding: 0 0 0 2%;
	border-left:5px solid $black;
	font-size: 1.8em;
  font-family: $stack-playfair;
  font-weight:$font-wt-regular;
  color: #2C3339;
  letter-spacing: .5px;
  line-height: 1.5em;
  width: 750px;

  @include mq(small){
    width: auto;
    border-top: 2px solid $black;
    margin: 5% 10% 0 10%;
    padding: 5% 0;
    text-align: center;
    border-left: none;
    font-size: 1em;
    padding-bottom: 70px;
    }
    @include mq(small){
      width: auto;
      border-top: 2px solid $black;
      margin: 5% 10% 0 10%;
      padding: 5% 0;
      text-align: center;
      border-left: none;
      font-size: 1em;
      padding-bottom: 70px;
      }
}

.intro {
  margin: 0 auto;
	padding: 0 5% 0 5%;
	font-size: 1.5em;
  font-family: $stack-playfair;
  font-weight:$font-wt-regular;
  color: #9FD1DA;
  letter-spacing: .5px;
  line-height: 1.8em;

    @include mq(small){
      width: auto;
      margin: 0 10%;
      padding: 0;
      text-align:justify;
      font-size: 1em;
      padding-bottom: 70px;
    }
    @include mq(medium){
      padding: 0 10% 0 10%;
    }
    @include mq(large){
      padding: 0 5% 0 5%;
      max-width: 1460px;
    }
}
.intro.design {
  color: #2C3339;
}

.card {
    @include mq(medium){
      text-align: left;
    }
    @include mq(large){
      margin-left: 5%;
    }

}

.card-headline {
  @extend %center-align;
  font-size: 1.4em;
  margin: 20px 20px 0 20px;

  @include mq(small){
    font-size: 1.1em;

  }
}

.card-text {
  @extend %center-align;
  font-family: $stack-crimson;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 20px 25px 10px;

  @include mq(small){
    font-size: 1em;
    line-height: 1.2em;
  }
}
